.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    height: 32px;
}

.basic {
    width: 70%;
    margin: 50px auto;
}

.credential {
    width: 70%;
    margin: 50px auto;
}

.basic textarea {
    resize: none;
    height: 120px;
}

.input_btn {
    margin-top: 30px;
    padding: 5px 0px 10px 0px;
    background-color: #2980b9;
    outline: none;
    border: 2px solid #2980b9;
    font-size: 20px;
    color: #fff;
}
.basic_confirmation{
    display: flex;
   flex-direction: row; justify-content: space-between;
  align-items: center;
   gap: 10px;
}
.basic_confirmation input{
    width: 50%;
  }
  .basic_confirmation .yes_btn{
      background-color: #2980b9;
    outline: none;
  border: none;
  font-size: 18px;
  color: white;
  }
  .basic_confirmation .no_btn{
      background-color: #e74c3c;
    outline: none;
  border: none;
  font-size: 18px;
  color: white;
  }