nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2980b9;
    color: white;
    padding: 0px 15px;
}
nav .logo{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 35px;
}
nav .list_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
    }
nav .list_items .list_item{
   margin: 20px;
   list-style: none;
   font-size: 25px;
 color: #fff;
}
.input_btn{
  margin-top: 30px ;
padding: 25px 0px;
line-height: 0px;
background-color: #2980b9;
outline: none;
border: 2px solid #2980b9;
font-size: 25px;
}
